{:paths ["src"]
 :deps {io.github.kotoba-lang/kotobase-engine
        {:git/url "https://github.com/kotoba-lang/kotobase-engine.git"
                                     :git/sha "10b168d72d0b5722cb5a2afe46609ad3cfe322c2"}
        thheller/shadow-cljs
        {:mvn/version "3.2.1"}}}