{:deps true
 :builds
 {:kotobase-worker
  {:target :esm
   :output-dir "workerd/generated/kotobase"
   :modules
   {:engine
    {:exports
     {openDatabase toshokan.kotobase-worker/open-database
      transact toshokan.kotobase-worker/transact
      pull toshokan.kotobase-worker/pull
      head toshokan.kotobase-worker/head}}}
   :compiler-options {:optimizations :advanced}}}}
